<template name="App_home">
    <div class="ui main container" style="margin: 0 auto;">
        
        
        <!-- Left Rail -->
        <div class="ui dividing left rail">
            <h4 class="ui header">Modules</h4>
            <div class="ui vertical fluid accordion text menu">
                <div class="item active">
                    <div class="title active">
                        <b>Characters</b>
                    </div>
                    <div class="content menu active">
                        <a href="#" class="item">1</a>
                        <a href="#" class="item">2</a>
                        <a href="#" class="item">3</a>
                        <a href="#" class="item">4</a>
                        <a href="#" class="item">5</a>
                        <a href="#" class="item">6</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="ui segment">
            ASDF
        </div>
        
        
        
    </div>
</template>